:root {
    --gray: rgb(82, 82, 82);
    --light-gray: rgb(200, 200, 200);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Fredoka One', cursive;    
    background-color: var(--light-gray);
}

a {
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-gray);
    width: 100%;
}

.content header span{
    display: flex;
    align-items: center;
    height: 40px;
}

.content header span#lat-title{
    background-color: rgb(82, 82, 82);
    height: 100%;
    border-top-right-radius: 15px;
}

.content header span h1{
    color: var(--light-gray);
    font-weight: 100;
}


.content header span a#title {
    margin: 10px;
}

.content header img#logo{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.content header a {
    margin: 25px;
    display: flex;
    align-items: center;
}

.content header span#links img {
    width: 30px;
    height: 30px;
    margin-left: 0px;
}

.content header span a#bar {
    font-size: 30px;
    margin:0;
}

#sec1a { 
    color: var(--light-gray);
    font-weight: 100;
    height: 87.85vh;
    display: table;
    text-align: left;
    width: 50%;
    margin: 0;
    float:left;
    background-color: rgb(82, 82, 82);
    border-top-right-radius: 100px;
}

#sec1a hgroup{
    display: table-cell;
    vertical-align: middle;
    align-items: center;
    padding: 20px;
}

#sec1a h1 {
    font-size: 45px;
}

#sec1a h1 strong {
    color: white;
}

#sec1a h2 {
    font-size: 25px;
}

#sec1b {
    height: 87.83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: var(--light-gray);
}

#sec1b img {
    display: flex;
    flex: 1;
    width: 50vh;
    height: 50vh;
}

section {
    margin: 0;
}

#sec2 {
    text-align: center;
    margin: 0;
    background-image: linear-gradient(to bottom, var(--gray), var(--gray), var(--light-gray)); 
    height: 33.3333333vh;
    padding-top: 30px;
}

#sec2 h1 {
    margin: 0;
    font-size: 30px;
    color: var(--light-gray);

}

section div#select {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    height: 100px;
    margin: auto;

}

 section div#select a {
    display: table;
    background-color: white;
    margin: 30px;
    height: 200px;
    width: 200px;
    border-radius: 200px;
} 

section div#select a p {
    display: table-cell;
    vertical-align: middle;
    width: 10px;
    font-size: 21px;
} 

section div#select a p img {
    width: 50%;
}
